@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PapperAB!</h1>
    <p>PapperAB is a caring company that really loves when their employees goes on their hard earned vacation days, or vab.</p>
    <p>All thanks to the CEO, Martin Karlsson and our biggest investor Reidun</p>
</div>
